<div>
  {/* Dark blue divider */}
  <div class="w-full h-16 bg-gray-900"></div>

  <div id="welcome" class="">
    <div class="grid lg:grid-cols-12">
      <!-- Image Section - Full Width Left -->
      <div class="lg:col-span-6">
        <div class="h-[600px]">
          <div class="w-full h-full bg-cover bg-center" style="background-image: url('/img/restaurant/our-story.jpg')"></div>
        </div>
      </div>

      <!-- Text Section - Contained -->
      <div class="lg:col-span-6 px-4 lg:px-16 py-8 lg:py-0">
        <div class="max-w-xl mx-auto lg:mx-0">
          <h1 class="text-4xl font-amatic mb-8 pt-8">OUR STORY</h1>
          <div class="prose prose-lg max-w-none text-gray-600">
            <p>
              For Angel Barreto, food has always correlated with happy memories. Wanting to impact people's most important
              moments in their lives through food ignited his love for culinary arts. He attended L'Academie De Cuisine
              where he gained a foundation in French food. Upon graduation, Angel secured a spot at Vermilion with Anthony
              Chittum, gaining an understanding of farm to table food and sustainable cooking.
            </p>
            <p>
              Harboring a consistent passion for Asian food, Angel took his talents to The Source by Wolfgang Puck while under the
              mentorship of Scott Drewno. Working his way up in only five and a half years from cook to executive sous chef,
              Angel's creativity and drive have furthered his interest in traveling worldwide to garner knowledge about
              international cuisine.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 