:root{
    --main-color: #39679B;
    --main-bg: #242222;
    --label-font: 'Cormorant Garamond', serif;
    --nav-height: 80px;
}

.navbar-nav a.nav-item.nav-link.icon{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.25em;
}

@media (max-width: 767px) {
    /* prevent menu from expaning navbar height */
    #navbarNavAltMarkup {
        background-color: white;
        position: absolute;
        top: var(--nav-height);
        right: 0px;
        width: 100% !important;
        width: -moz-available;          /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
        width: fill-available;
        opacity: .8;
    }  
}


@media (min-width: 992px) {
    .navbar-nav a.nav-item.nav-link{
        padding-left:30px;
        padding-right:30px;
    }

    .menu-sublabel {
        margin-left: -54%;
        margin-right: 39%;
        padding: 50px;
    }

    .menu-sublabel-left {
        margin-left: 60%;
        margin-right: -50%;
        padding: 50px;
    }

    .section-title-div {
        min-height: 200px !important;
    }

    #our-story-pic {
        min-height: 700px !important;
    }
    
}


@media (min-width: 576px){
    .content-div{
        max-width: 700px;
        box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);
    }
}

.intro-carousel {
    width:100%;
    max-height: 500px !important;
}

.restaurant-name {
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
}

.section-title {
    color: white;
    background-color: var(--main-bg);
    font-size: 36px;
    font-family: var(--label-font);
    letter-spacing: 6px;
}

.section-title-div {
    min-height: 100px;
    justify-content: center;

}

.top {
    z-index: 1;
}

/* menu */

#menu, #welcome, #hours {
    background-color: var(--main-bg);
    color: white;
}

#menu-pic {
    background-image: url('../img/restaurant/menu-pic.jpg');

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    
}

#ramen-pic {
    background-image: url('../img/restaurant/ramen-pic.jpg');

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

#our-story-pic {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 1)),
    url('../img/restaurant/our-story.jpg');

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

.story-text {
    line-height: 1.7;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 18px;
}

#hours {
    line-height: 1.7;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 20px;
}

.menu-sublabel-left {
    font-size: 40px;
    background-color: var(--main-bg);
    font-family: var(--label-font);
    letter-spacing: 6px;
    justify-content: center;
}

.menu-sublabel {
    font-size: 40px;
    background-color: var(--main-bg);
    font-family: var(--label-font);
    letter-spacing: 6px;
    justify-content: center;
}

.menu-section {
    font-size: 16px;
}

.menu-section ul {
    list-style-type: none;
}

.menu-section li {
    padding: 15px 0px;
}

/* map section */
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:75%;
    width:100%;
    position:absolute;
}