#our-story-pic {
  background-image: url('/img/restaurant/our-story.jpg');
}

.font-amatic {
  font-family: 'Amatic SC', cursive;
}

.font-cormorant {
  font-family: 'Cormorant Garamond', serif;
}

.font-ibarra {
  font-family: 'Ibarra Real Nova', serif;
}

@layer utilities {
  .aspect-w-16 {
    aspect-ratio: 16 / 9;
  }
} 