---
const currentYear = new Date().getFullYear();
---

<footer class="bg-gray-900 text-white py-4">
  <div class="container mx-auto px-4 text-center text-sm">
    <p>
      © {currentYear} Alan Swenson. Demo Website created by <a
        href="https://alanswenson.dev"
        class="underline hover:text-gray-300 transition-colors">Alan Swenson</a
      >
    </p>
  </div>
</footer>

