<div id="menu" class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-5 col-sm-9 d-flex align-items-center section-title-div">
            <div class="align-self-center">
                <h1 class="section-title ">OUR MENU</h1>
            </div>
        </div>
        <div class="col-md-7 col-sm-3">

        </div>
    </div>


    <div class="row d-flex align-items-center">
        <div class="col-md-9 col-sm-9 d-flex align-items-center" id="menu-pic">
            <div class="align-self-center">

            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="menu-sublabel">
                STARTERS
            </div>

        </div>
    </div>
    <div class="menu-section py-5">
        <div class="row d-flex align-items-center">
            {%- for column in menu_items|slice(2) %}
            <div class="col-md-4 col-sm-12">
                <ul>
                    {%- for item in column %}
                    <li>
                        <strong>{{item.name}}</strong> |
                        {{item.price}}
                        <br> {{item.description}} <br>
                    </li>
                    {%- endfor %}
                </ul>
            </div>
            {%- endfor %}
            <div class="col-md-4 d-none d-md-flex"></div>
        </div>
    </div>
</div>




</div>