<div id="welcome" class="text-center section-title-div container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-sm-4 top">
            <div class="menu-sublabel-left">
                <h1 class="section-title ">OUR STORY</h1>
            </div>
        </div>
        <div class="col-sm-8" id="ramen-pic">
            <div class="align-self-center">

            </div>
        </div>
    </div>

    <div class="row d-flex align-items-center">
        <div class="col-md-7 col-sm-3 d-flex align-items-center section-title-div">

        </div>
        <div class="col-md-5 col-sm-9">
            <div class="align-self-center">
                For Angel Barreto, food has always correlated with happy memories. Wanting to impact people's most
                important
                moments in their lives through food ignited his love for culinary arts. He attended L'Academie De
                Cuisine
                where he gained a foundation in French food. Upon graduation, Angel secured a spot at Vermilion with
                Anthony
                Chittum, gaining an understanding of farm to table food and sustainable cooking. Harboring a consistent
                passion for Asian food, Angel took his talents to The Source by Wolfgang Puck while under the mentorship
                of
                Scott Drewno. Working his way up in only five and a half years from cook to executive sous chef, Angel's
                creativity and drive have furthered his interest in traveling worldwide to garner knowledge about
                international cuisine.
            </div>
        </div>
    </div>

</div>