<div id="welcome" class="section-title-div container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-lg-5" id="our-story-pic">
            <div class="align-self-center">

            </div>
        </div>
        <div class="col-lg-7 top d-flex top section-title-div">
            <div class="text-center">
                <h1 class="section-title py-5">OUR STORY</h1>

                <div class="text-left px-4 pb-4 story-text">
                    For Angel Barreto, food has always correlated with happy memories. Wanting to impact people's most
                    important
                    moments in their lives through food ignited his love for culinary arts. He attended L'Academie De
                    Cuisine
                    where he gained a foundation in French food. Upon graduation, Angel secured a spot at Vermilion with
                    Anthony
                    Chittum, gaining an understanding of farm to table food and sustainable cooking. Harboring a
                    consistent
                    passion for Asian food, Angel took his talents to The Source by Wolfgang Puck while under the
                    mentorship
                    of
                    Scott Drewno. Working his way up in only five and a half years from cook to executive sous chef,
                    Angel's
                    creativity and drive have furthered his interest in traveling worldwide to garner knowledge about
                    international cuisine.
                </div>
            </div>


        </div>
    </div>

</div>