<nav class="navbar sticky-top navbar-light bg-light navbar-expand-md text-center">
    <!-- brand name / logo -->
    <a class="navbar-brand ml-3 restaurant-name" id="top-logo" href="#">Alan's Restraurant</a>
    <div class="nav-links-container ml-auto">
        <!-- hamburger menu -->
        {% include 'restaurant_hamburger.html' %}

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-md-3">
                <a class="nav-item nav-link active" href="#menu">MENU<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#welcome">OUR STORY</a>
                <a class="nav-item nav-link" href="#hours">HOURS & LOCATION</a>
                <a class="nav-item nav-link icon d-none d-md-block" href="http://instagram.com">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="nav-item nav-link icon d-none d-md-block" href="http://twitter.com">
                    <i class="fab fa-twitter"></i>
                </a>



            </div>
        </div>
    </div>
</nav>