<div id="menu" class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-lg-5 col-sm-12 d-flex align-items-center section-title-div">
            <div class="align-self-center">
                <h1 class="section-title ">OUR MENU</h1>
            </div>
        </div>
        <div class="col-md-7 col-sm-3">

        </div>
    </div>


    <div class="row d-flex align-items-center">
        <div class="col-lg-9 col-md-12 d-flex align-items-center" id="menu-pic">
            <div class="align-self-center">

            </div>
        </div>
        <div class="col-lg-3 col-md-12 d-flex align-items-center section-title-div">
            <div class="menu-sublabel top align-self-center">
                STARTERS
            </div>

        </div>
    </div>
    <div class="menu-section py-lg-5">
        <div class="row d-flex align-items-center">
            {%- for column in menu_items|selectattr('category', 'equalto', 'Starters')|sort(attribute='sort_order')|slice(2) %}
            <div class="col-md-4 col-sm-12">
                <ul>
                    {%- for item in column %}
                    <li>
                        <strong>{{item.name}}</strong> |
                        {{item.price}}
                        <br> {{item.description}} <br>
                    </li>
                    {%- endfor %}
                </ul>
            </div>
            {%- endfor %}
            <div class="col-md-4 d-none d-md-flex"></div>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-4 top d-flex top align-items-center section-title-div">
            <div class="menu-sublabel-left">
                <h1 class="section-title ">MAINS</h1>
            </div>
        </div>

        <div class="col-lg-8" id="ramen-pic">
            <div class="align-self-center">

            </div>
        </div>
    </div>
    <div class="menu-section py-lg-5">
        <div class="row d-flex align-items-center">
            <div class="col-md-4 d-none d-md-flex"></div>
            {%- for column in menu_items|selectattr('category', 'equalto', 'Mains')|sort(attribute='sort_order')|slice(2) %}
            <div class="col-md-4 col-sm-12">
                <ul>
                    {%- for item in column %}
                    <li>
                        <strong>{{item.name}}</strong> |
                        {{item.price}}
                        <br> {{item.description}} <br>
                    </li>
                    {%- endfor %}
                </ul>
            </div>
            {%- endfor %}

        </div>
    </div>
</div>




</div>